extends ../layouts/adminLayout.pug
block body-container
  div(class="row")

    each option in listObjects
      div(class="col-md-2 admin-option-container")
        a(href=option.url)
          span(class="fa fa-edit fa-3x")
          span #{option.name}
