case pathHelp
  //- when "paneladmin"
    //- a(id="btn-help" href=`/admin/help/${pathHelp}` title="Ayuda" target="_blank")
    //- span(class="wcolor pointer btn-help-app fa fa-question-circle fa-2x" title="Opción de ayuda")
  default
    //- a(id="btn-help" href="#" title="Ayuda")
    span(class="wcolor pointer btn-help-app fa fa-question-circle fa-2x" title="Opción de ayuda")