doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/static/css/font-awesome.min.css")
    link(rel="stylesheet" href="/static/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    nav(class="navbar navbar-dark bg-dark")
      .container-fluid
        a(class="navbar-brand mb-0 h1" href="/") AutoCRUD

    .container
      h1= title
      div
        while message = flash.shift()
          div(class='alert alert-' + message.type)
            p= message.message
      block content

    script(src="/static/jquery.min.js") 
    script(src="/static/js/bootstrap.min.js") 
