// Variables de color
$color-default: #000;
$color-hover-blue: rgb(13, 110, 253);
$color-hover-red: rgb(253, 13, 13);
$color-hover-background: #f9f9f9;

// Estilos
.panel-admin
  .padmin-option
    a
      color: $color-default;
      text-decoration: none;
      .item-container
        padding: 10px 0px

      &:hover
        color: $color-hover-blue;
        .item-container
          background-color: $color-hover-background;
          border-radius: 10px




td
  a
    .fa
      color: $color-default;

      &:hover
        color: $color-hover-blue;

      &.fa-trash-o:hover
        color: $color-hover-red;

.btn-default
  .fa.fa-trash-o:hover
    color: $color-hover-red;

.btn-removeField
  &:hover
    color: $color-hover-red;
    cursor: pointer;

.info-btn
  color: $color-default
  cursor: pointer

.h2-fieldsConf
  font-family: var(--bs-body-font-family);
  a
    color:#212529
    text-decoration: none
    &:hover
      color: $color-hover-blue
      text-decoration: underline

.option-buttons
  text-align: end;

.field-selected
  background-color: #eee;

#fieldsTableDetail, #optionsTable
  th
    text-align: right;