.admin-option-container {
  margin: 10px 0px;
}
.admin-option-container span {
  display: block;
  text-align: center;
}
.col-acciones a{
  margin-right: 3px;
}
.login-form{
  max-width: 400px;
}
.center-div{
  margin: 0 auto;
}


.buttons-up{
  /* background-color: blue; */
  /* text-align: right; */
  padding: 0px 5px 20px;
}

.simple-list{
  list-style-type: none;
  padding: 0px;
}
.simple-list li{
  padding: 7px 0px 7px;
  border: 1px solid white;
  /* border-bottom: 1px solid slateblue; */
  border-bottom: 1px solid rgb(197, 197, 197);
}
.simple-list li:hover{
  font-weight: bold;
  background-color: rgb(245, 245, 245);
}
.simple-list li .actions span{
  margin-right: 5px;
  font-size: 1.6em;
}
.simple-list li .actions a{
  color: black;
}
.simple-list li .actions span:hover{
  cursor: pointer;
  color: rgb(88, 62, 255);
}