.admin-option-container {
  margin: 10px 0px;
}
.admin-option-container span {
  display: block;
  text-align: center;
}
.col-acciones a{
  margin-right: 3px;
}
.login-form{
  max-width: 400px;
}
.center-div{
  margin: 0 auto;
}