extends ../../layouts/adminLayout.pug
block body-container

  div!= objForm.dsp()

  div
    h3 Configuración de Fieldsets
    div Listado de fieldsets
      table
        thead 
          tr
            th Legend
        tbody 
          each fieldset in fieldsetsList
            tr 
              td= fieldset.legend

    form(method="post", action=`/admin/form-config/fieldset/${objFormDb._id}`)
      legend Adicionar Fieldset
      input(type="text", name="legend", placeholder="Legend")
      input(type="submit", value="Agregar", class="btn btn-primary")
      input(type="hidden", name="collection_id", value=collection_id)


block js-container
  script(src="/assets/js/formConfig.js") 