extends ../layout

block content

  form(method="post" action=getRoute(basePath, "store"))

    div(class="mb-3")
      label(class="form-label" for='name') Full name
      input(class="form-control" type='text' name="name" id="name" placeholder='Mark Webber' required)

    div(class="mb-3")
      label(class="form-label" for='email') E-mail
      input(class="form-control" type='email' name="email" id="email" placeholder='mark.webber@example.com' required)

    div(class="mb-3")
      label(class="form-label" for='password') Password
      input(class="form-control" type='password' name="password" id="password" placeholder='Hm*fBj-IzyDB' required)

    div(class="text-end")
      a(href=getRoute(basePath, "index") class="btn btn-danger me-2") Cancel
      button(class="btn btn-primary" type="submit") Save


