extends ../../layouts/adminLayout.pug
block body-container

  input(type="hidden" id="fieldsetId" value=fieldset._id)
  //- input(type="hidden" name="collection_id", value=collection_id)

  #main-react-fields-container

block js-container 
  script(src="/dist/main.js") 